:root {
    --azul-padrão:#2A7AE4;
    --azul-hover: #5595E9;
    --branco-fundo: #FFFFFF;
    --cinza-claro: #F5F5F5;
    --cinza-escuro: #A2A2A2;
    --azul-claro-hover: #D4E4FA;
    --azul-background: #EAF2FD;
    --preto-texto: #464646;
    --cinza-bg: #E5E5E5;

    --raleway: 'Raleway', sans-serif;
}

.conteudo {
    height: 100%;
}